@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,200;0,300;0,500;1,400&family=Poppins:wght@100;200;300;400;500;600&display=swap');
:root {
    --alumni-family: 'Alumni Sans', sans-serif;
    --poppins-family: 'Poppins', sans-serif;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.img-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.background-overlay {
    width: 100%;
    background-color: #000;
    opacity: 0.66;
    position: absolute;
    top: 0;
    height: 100%;
}

.padel-title {
    position: absolute;
    margin-top: 100px;
}

.padel-title h1 {
    color: #fff;
    font-family: var(--alumni-family);
    font-size: 90px;
    letter-spacing: 2px;
}

.booking-containers {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.8rem;
    margin-top: 70px;
}

.booking-containers .courts {
    border: 1px solid #D9D9D9;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
}

.padelImg {
    width: 100%;
    height: 210px;
}

.court-details-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.court-details {
    width: 90%;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    align-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
    height: 320px;
}

.court-inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.court-details h4 {
    font-family: var(--poppins-family);
    font-size: 19px;
    margin: 5px 0;
    color: #232240;
    text-align: left;
}

.court-count {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.court-count h5 {
    margin: 0;
    font-family: var(--poppins-family);
    font-weight: 400;
    font-size: 16px;
    color: #232240;
}

.court-icons {
    display: flex;
}

.faPhone {
    color: #0000FF;
    margin-right: 20px;
}

.faPaperPlane {
    color: #FDAF2B;
    margin-right: 15px;
}

.court-details h4 {
    font-family: var(--poppins-family);
    font-size: 19px;
}

.court-time {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.court-time-second {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.court-time h5 {
    margin: 0px 5px;
    color: #232240;
    font-size: 16px;
    font-family: var(--poppins-family);
    font-weight: 400;
}

.court-time-second h5 {
    margin: 0px 5px;
    color: #232240;
    font-size: 16px;
    font-family: var(--poppins-family);
    font-weight: 400;
}

.faClock {
    color: #232240;
}

.court-has {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 20px 0px 10px 0px;
    flex-wrap: wrap;
}

.court-has-time {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 25px 0px 10px 0px;
}

.court-has-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 20px 0px 10px 0px;
}

.court-has-time small {
    padding: 5px 15px;
    background-color: #F5F5F5;
    border-radius: 4px;
    margin-right: 10px;
    font-family: var(--poppins-family);
}

.court-has small {
    padding: 3px 5px;
    background-color: #F5F5F5;
    border-radius: 4px;
    margin-right: 5px;
    font-family: var(--poppins-family);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    font-size: 12px;
}

.court-has-title small {
    padding: 5px 15px;
    background-color: #F5F5F5;
    border-radius: 4px;
    margin-right: 10px;
    font-family: var(--poppins-family);
}

.book-btn {
    width: 100%;
    background-color: #FDAE00;
    color: #fff;
    border: 0;
    border-radius: 4px;
    height: 45px;
    margin-top: 15px;
    font-family: var(--poppins-family);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
}

.book-btn h5 {
    color: #fff;
    font-family: var(--poppins-family);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.book-btn:hover h5 {
    color: #FDAE00;
    transition: all .3s;
}

.book-btn:hover {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #FDAE00;
    transition: all .3s;
}